/* start default styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(32, 32, 45);
    min-height: 100vh;

    /* font  styling */
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}
 button, input{
    border: none;
    outline: none;
    background: none;
 }

/* start default class styling */

.container{
    max-width: 1040px;
    margin: 0 auto;
}

.dFlex {
    display: flex;
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.grid-center{
    display: grid;
     place-items:center;
}
/* end default class styling */

/*end  default styling */



/* start header section styling */

   .header{
    margin-top: 50px;
    margin-bottom: 80px;
    align-items: center;
   }

   /* .header__logo{

     

   } */

   .header__links{
    gap: 20px;

   }
/* end header section styling */



/* start main section styling */

  /* start hero section styling */

  /* .hero{

  } */
 

  .hero__span{
    color: rgb(255, 187, 1);
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 14px;

  }

  .hero__title{
    font-size: 50px;
    font-weight: 700;
    line-height: 59px;

  }

  .hero__info{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

    margin: 20px 0 38px;
    max-width: 420px;
  }

  .hero__link{
    display: inline-block;
    color: rgb(46, 46, 48);
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    border-radius: 5px 5px 10px 10px;

    box-shadow: 0px 4px 0px 0px rgb(182, 133, 0);
    background: linear-gradient(180.00deg, rgb(253, 222, 118),rgb(255, 187, 1) 100%);

    padding: 24px 42px;

  }

  .hero__img{
    margin-top: 30px;
    width: 367px;
    height: 367px;
    border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden;
   
  }

  .hero__img img{
    width: 100%;
  }
     
    
   
  /* end hero section styling */



  /* <!-- start Work section styling --> */

  .work{
            margin-top: 200px;
  }

  .work__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;

    margin-bottom: 84px;
  }

  .work__content{

    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;

  }
  .work__content li {
    max-width: 288px;
    margin-bottom: 64px;
  }

  /* .work__content img{

  } */
  .work__content h3{
    margin: 23px 0 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .work__content p{
font-size: 16px;
line-height: 28px;
  }
  /* <!-- end Work section styling --> */

  /* <!-- start project section styling--> */


  .project{
 padding-bottom: 100px;
  }

.project__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin: 135px 0 84px;
}
  .project__item{
    align-items: start;
    
  }

  /* .project__item__left{

  } */
  .project__item__left img {
    width: 100%;
    height: 100%;
  }
  .project__item__rigth {
    max-width: 527px;
    
  }
  .project__item__rigth h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 40px;
  }

  .project__item__rigth ul{
    flex-wrap: wrap;
    gap: 64px;
  }
  .project__item__rigth ul li{
    gap: 16px;
    align-items: start;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
   
  }
  .project__item__rigth ul li span{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 7px;
    display: inline-block;
  }
  /* <!-- end project section  styling--> */


/* end main section styling */



/* start footer section styling */

.footer{
    padding-bottom: 150px;
}

.footer__title{

   
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 60px;

}


.footer__content{
    align-items: start;
    justify-content: space-between;
}


.footer__input{

    max-width: 380px;
    min-height: 410px;

    display: flex;
    flex-wrap: wrap;
    padding: 20px 35px;
    gap: 20px;

    border-radius: 5px;

    box-shadow: -5px 5px 0px 0px rgb(255, 196, 29);
    background: rgb(255, 255, 255);
}
.footer__input p {
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}
.footer__input label{
    width: 100%;
    position: relative;

    
    border-radius: 5px;

box-shadow: inset 0px 3px 10px 0px rgba(199, 199, 199, 0.25);
background: rgb(248, 248, 248);
}
.footer__input label img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;


}
.footer__input input{
    display: inline-block;
    width: 100%;
    padding-left: 100px;
    padding: 18px 50px;


}

.footer__input button{
    width: 100%;
    padding: 25px 50px;
    border-radius: 5px 5px 10px 10px;

box-shadow: 0px 4px 0px 0px rgb(182, 133, 0);
background: linear-gradient(180.00deg, rgb(253, 222, 118),rgb(255, 187, 1) 100%);


color: rgb(46, 46, 48);
font-size: 12px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
}

.footer__right{
    max-width: 350px;
}

.footer__right h5{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;

    margin-bottom: 30px;
}

.footer__right p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
}
/* end footer section styling */